.title {
  text-align: center;
  font-size: 65px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 30px;
  background: -webkit-linear-gradient(#c788b1, #c3d94c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textColor {
  color: #c788b1;
}

.buttonCenter {
  display: block !important;
  margin: auto !important;
  background: #dfc4d5 !important;
  color: #626839 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px !important;
  text-align: center !important;
  height: 40px !important;
}

.buttonCenter::selection {
  color: #626839 !important;
  background: #f1c4e1 !important;
}

.buttonCenter:hover {
  background-color: #f1c4e1 !important;
  color: #626839 !important;
  border: #f1c4e1 !important;
}

.tableDesign {
  width: 70%;
  text-align: center;
  border: 1px solid black;
  margin-left: 15%;
}
.dateWith {
  width: 620px;
}

.borders {
  border: 1px solid black;
}
